<nav>
    <div class="nav-left">
        <a href="#" class="logo">
        <div class="logo-icon">G</div>
        </a>
        <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search store" />
        </div>
    </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">About</a></li>
    </ul>

    <div class="nav-right">
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
        <a href="#"><i class="fas fa-user-circle"></i></a>
    </div>
</nav>