{% load static %}

<aside class="sidebar">

    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

        <a href="/my/dashboard/">
            <div class="sidebar-header">    
                <h2>حساب کاربری من</h2>
                <p>مدیریت حساب</p>
            </div>
        </a>


        <a href="/my/information/">
            <div class="sidebar-item" onclick="highlightCard('personal')">
                <h3>اطلاعات شخصی</h3>
                <p>ویرایش اطلاعات شخصی</p>
            </div>
        </a>


        <a href="/my/orders/">
            <div class="sidebar-item" onclick="highlightCard('orders')">
                <h3>سفارش‌های من</h3>
                <p>مشاهده سفارش‌های قبلی</p>
            </div>
        </a>


        <a href="/my/wishlist/">
           <div class="sidebar-item" onclick="highlightCard('wishlist')">
            <h3>علاقه‌مندی‌ها</h3>
            <p>بازی‌های مورد علاقه شما</p>
            </div>
        </a>
        

        <a href="/my/payment/">
            <div class="sidebar-item" onclick="highlightCard('payment')">
                <h3>روش‌های پرداخت</h3>
                <p>تنظیم روش پرداخت</p>
            </div>
        </a>

</aside>

