 {% load static %}
 <footer>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <div class="footer-socials">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-x-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-discord"></i></a>
    </div>

    <div class="footer-top">
      <div class="footer-brand">
        <a href="#" class="logo" dir="rtl">
          <div class="logo-icon">D</div>
          <span class="logo-text">DaraBazaar</span>
        </a>
        <p dir="rtl">دارا بازار، مرجع تخصصی خرید بازی‌های فیزیکی پلی‌استیشن است. ما اینجا هستیم تا جدیدترین و محبوب‌ترین عناوین بازی‌ها را با ضمانت اصالت، مناسب‌ترین قیمت و ارسال سریع به دست شما گیمرهای عزیز برسانیم. تجربه یک خرید امن و راحت، اولویت ماست.</p>
      </div>

      <div class="footer-col">
        <h4>My Account</h4>
        <ul>
          <li><a href="/my/dashboard/">حساب کاربری</a></li>
          <li><a href="/my/orders/">سفارش های من</a></li>
        </ul>
      </div>

    <div class="footer-bottom">
      Copyright darabazaar.com 2025, all rights reserved
    </div>
  </footer>
